body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.banner-text {
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    color: whitesmoke
}

p {
    font-size: 25px;
}


.top-banner-part {
    background-image: url(images/donation13.jpg);
    padding-bottom: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-button {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border: 0ch;
    font-size: 25px;
    background-color: rgb(255, 74, 74);
    border-radius: 5px;
    font-weight: 700;
    justify-content: center;
}

.half-width {
    padding: 60px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.amount {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 16px;
    margin-left: 90px;
    margin-right: 90px;
    color: gray;
    gap: 100px 2px;
}

.box {
    padding: 10px 10px;
}

#color-box {
    padding: 15px;
    border: 1.5px solid rgb(255, 113, 113);
    background-color: rgb(255, 199, 217);

}

.other-part {
    padding-top: 30px;
    text-align: center;
    color: rgb(163, 163, 163);
    font-size: 20px;
}

.line-break {
    width: 50%;
}

.other {
    padding-top: 20px;
    text-align: center;
}

.plan-part {
    padding: 60px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.flex-box-area{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.flex-box1 {
    border: 0ch;
}