body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.banner-text {
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    color: whitesmoke
}

p {
    font-size: 20px;
}

.top-banner-part {
    background-image: url(images/donation13.jpg);
    padding-bottom: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-button {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border: 0ch;
    font-size: 20px;
    background-color: rgb(255, 74, 74);
    border-radius: 5px;
    font-weight: 700;
    justify-content: center;

}

.half-width {
    padding: 60px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.amount {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 16px;
    margin-left: 90px;
    margin-right: 90px;
    color: gray;
    gap: 100px 2px;
}

.box {
    padding: 10px 10px;
}

#color-box {
    padding: 15px;
    border: 1.5px solid rgb(255, 113, 113);
    background-color: rgb(255, 199, 217);

}

.other-part {
    padding-top: 30px;
    text-align: center;
    color: rgb(163, 163, 163);
    font-size: 20px;
}

.line-break {
    width: 50%;
}

.other {
    padding-top: 20px;
    text-align: center;
}

.plan-part {
    padding: 60px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.flex-box-area {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 30px 1px;
}

.flex-box {
    border: 0ch;
    width: 30%;
    margin-right: 30px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

#box1 {
    background-color: rgb(198, 241, 255);
}

#box2 {
    background-color: rgb(255, 212, 220);
}

#box3 {
    background-color: rgb(255, 255, 214);
}

.depend-area {
    display: flex;
    padding-top: 80px;
    margin-bottom: 100px;
    gap: 30px 1px;
    width: 100%;
}

#middle-head-text {
    font-size: 40px;
}

.middle-part {
    width: 80%;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 45px;
    font-size: 25px;
}

.middle-part img {
    width: 70%;
    padding-left: 60px;
    padding-top: 45px;
}

.update {
    padding: 60px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.mail-box {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.form {
    width: 250px;
    height: 42px;
    background-color: rgb(230, 224, 224);
}

footer {
    text-align: center;
    background-color: black;
    margin-bottom: 0%;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

#end-text {
    font-family: 'Lobster', cursive;
    color: rgb(255, 14, 14);
    font-size: 35px;

}